html
    head
        link(href='scrumBoard.css', rel='stylesheet')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.min.js")
        script.
            window.boardId='#{boardId}'
        script(src='/scrumBoard.js' type='text/javascript')
    body
        h1 Welcome

        p Accessing board #{boardId}

        .board

        .add-board
            input#newCardTitle
            button#addCard Add